**
!Dockerfile
!Dockerfile.server
!go.mod
!go.sum
!VERSION
!LICENSE
!README.md

!cmd/
!cmd/cli.go
!cmd/main.go
!cmd/server/
!cmd/server/main.go

!contracts/

!docs/
!docs/docs.go

!grammar/
!grammar/SPLParser.g4

!internal/
!internal/buildinfo/
!internal/buildinfo/version.go

!parser/
!parser/spl_lexer.go
!parser/spl_parser.go
!parser/splparser_base_listener.go
!parser/splparser_base_visitor.go
!parser/splparser_listener.go
!parser/splparser_visitor.go

!pkg/
!pkg/api/
!pkg/api/handlers.go
!pkg/api/models.go
!pkg/api/server.go
!pkg/bindings/
!pkg/bindings/bindings.go
!pkg/bindings/registry.go
!pkg/mapper/
!pkg/mapper/config_clone.go
!pkg/mapper/discovery_listener.go
!pkg/mapper/field_mapping_listener.go
!pkg/mapper/mapper.go
!pkg/mapper/parser.go
!pkg/mapper/schema.go

!python/
!python/LICENSE
!python/MANIFEST.in
!python/README.md
!python/build_support.py
!python/native-source-files.txt
!python/pyproject.toml
!python/requirements-build.txt
!python/requirements-dev.txt
!python/setup.py
!python/spl_toolkit/
!python/spl_toolkit/__init__.py
!python/spl_toolkit/exceptions.py
!python/spl_toolkit/libspl_toolkit.h
!python/spl_toolkit/mapper.py
